
<div>
<h1>Welcome to RetFlix!</h1>
<h2>See our collection of movies below.</h2>
</div>
<br></br>
 <% @movie.each do |movie| %>
     <dl>
       <h2><dt><%= movie.title %>, <%= movie.year_released %>:</dt></h2>
       <h3><dd><%= movie.description %>.</dd></h3>
       <br></br>
     </dl>
   <% end %>
