<div>



       <dl>
            <h2><dt><%= @story.title %></dt></h2>
            <h2><dd><%= @story.link %></dd></h2>
            <h2><dd><%= @story.category %></dd></h2>
            <h2><dd><%= @story.upvotes %></dd></h2>

      </dl>
                <br></br>

</div>

<!-- Visitors can view a @stories's upvotes, category and link to more details by clicking on the title from the front page -->