<!-- # <% @movies.each do |movie| %>
#      <dl>
#        <h2><dt><%= movie.title %>, <%= movie.year_released %>:</dt></h2>
#        <h3><dd><%= movie.description %>.</dd></h3>
#        <br></br>
#      </dl>
# <div>

#    <% end %> -->

<%= render 'movies/movies' %>

