<div>
    <center>
          <h1>This is what we found:</h1>
    </center>
</div>

<h2><%= render 'movies/movies' %></h2>

<center>
    <h3><%=link_to "RETURN TO HOME PAGE", root_path %></h3>
</center>